*{
	margin:0;
	padding:0;
}
body{
	background:#efefef;
}
nav{
	background-color:#ffffff;
	width:100%;
	border:1px solid #efefef;
	align-items: center;
	height: 70px;
	display:flex;
	font-family: DettolSans-SemiBold,sans-serif;
  }
 nav::after {
	content:"";
   width:10px;
   height:70px;
   background-color:#24262b;
 }
 .logo{
	 width:30%;
	 align-items:center;
	 margin:1px;
 }
 .logo img{
	 width:60%;
	 margin:auto 30px;
	 padding-left:5px;
	 padding-right:5px;
	// border:2px solid #f44336;
	// border-radius: 40%;
 }
 .p{
	 width:70%;
	 align-items: center;
	 margin:1px;
 }
 .p .fa{
   margin-right: 8px;
 }
 .p ul{
	 list-style:none;
	 display:flex;
 }
 .p ul li{
	 padding-right:25px;
	 width:17%;
	 text-align:center;
 }
 .p ul li a{
	 text-decoration: none;
	 color:#24262b;
	 font-size: 18px;
 }
  .p ul li a:hover {
   color:#f44336 ;
 }
 
 .menu {
	 display:none;
 }
 
 .p ul li:hover .menu{
	 height:250px;
	 display:block;
	 width:220px;
	 padding-top:30px;
	 margin-left:0;
	 background-color:#ffffff;
	 position:absolute;
 }
 .p ul li:hover .menu ul{
	padding:15px;
	margin:0;
	display:inline-block;
 }
 .p ul li:hover .menu ul li {
	 padding:25px 5px 25px 5px;
	 width:100%;
	 border-bottom: 1px black solid;
 }
 .menu1 {
   display:none;
 }
 .p ul li:hover .menu1{
   height:140px;
   display:block;
   width:150px;
   padding-top:30px;
   margin-left:0;
   background-color:#ffffff;
   position:absolute;
 }
 .p ul li:hover .menu1 ul{
	padding:8px;
	margin:0;
	display:inline-block;
 }
 .p ul li:hover .menu1 ul li {
	 padding:15px 3px 15px 3px;
	 width:100%;
	 border-bottom: 1px black solid;
 }




.gef{
	width: 400px;
	height: 320px;
	margin:20px auto;
	padding: 60px;
	border-radius: 20px;
	
}
#login{
	font-size: 40px;
	color :#24262b;
	font-style: italic;
}
.inp{
	margin-top: 30px;
}
.lab{
	margin-top: 10px;
}
label{
	font-size: 25px;
    font-style: italic;
    color:#24262b;
}
input{
	font-size: 30px;
	border-radius: 7px;
	width:400px;
}
::placeholder {
   font-size: 15px;
  
}
button {
	
	background-color: #24262b;
	height:50px;
	border-radius: 10px;
	width: 280px;
	margin-top: 30px;
	margin-left: 50px;
	border-style: none;
	font-size: 18px;
}
.a a{
  text-decoration: none;
  color: #24262b;
  font-size: 20px;
  font-style: italic;
}
ul{
	list-style: none;
}
button:hover{
	opacity: 0.8;
	background: #f44336;
}
a:hover{
	opacity: 0.8;
	color:#f44336;
}